/* wwwroot/css/guacamole.css */

#guacamole-display {
    position: relative;
    overflow: hidden;
    background: #000;
    cursor: none; /* RDP cursor'ını göster */
}

    #guacamole-display > canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
        image-rendering: optimizeSpeed;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }

    /* Guacamole layer'ları */
    #guacamole-display .guac-display {
        position: absolute;
        left: 0;
        top: 0;
    }

    /* Guacamole varsayılan cursor'u gizle */
    #guacamole-display .guac-cursor {
        position: absolute;
        z-index: 1000;
    }
